@import "libs/reset.css";
@import "fonts/lato.css";
body {
  font-family: 'latoregular', sans-serif;
  color: #1f1f20;
}
ul {
  padding: 15px;
  float: left;
  display: inline-block;
  height: 250px;
  overflow-y: auto;
}
ul.poketable {
  background: #dce0e6;
  width: 210px;
}
ul.poketable .pokerow {
  margin: 6px;
  cursor: pointer;
  height: 75px;
}
ul.poketable .pokerow span {
  position: relative;
  bottom: 25px;
}
ul.pokechat {
  width: 250px;
  background: #2b4c7e;
  color: #dce0e6;
}
.avatar {
  width: 50px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
}
.message-animation-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.message-animation-enter.message-animation-enter-active {
  opacity: 1;
}
