//less imports
@import (less) "variables.less";

body{
  font-family: @pc-font;
  color: @color5;
}

ul {
	padding:15px;
	float: left;
	display: inline-block;
	height: 250px;
	overflow-y: auto;

	&.poketable {
		background: @color1;
		width: 210px;

		.pokerow {
			margin: 6px;
			cursor: pointer;
			height: 75px;
			span {
				position: relative;
				bottom: 25px;
			}
		}
	}

	&.pokechat {
		
		width: 250px;
		background: @color4;
		color: @color1;
	}

	
}

.avatar {
	width: 50px;
	margin-right: 12px;
	display: inline-block;
	text-align: center; 
}
.message-animation-enter {
	opacity: 0;
	transition: opacity 0.5s ease-in;

	&.message-animation-enter-active {
		opacity:1;
	}
}



//css imports
@import (css) "libs/reset.css";
@import (css) "fonts/lato.css"; 